{{extend 'layout.html'}}

{{if len(deployments) > 0:}}
<table class="table">
    <tr>
        <th>#</th>
        <th>Deployment Name</th>
        <th>Type</th>
    </tr>

    {{for i,deployment in enumerate(deployments):}}
    {{if i == items_per_page: break}}
    <tr>
        <td>{{=deployment.id}}</td>
        <td>{{=deployment.name}}</td>
        <td>{{=deployment.type.title()}}</td>
        <td><a href="{{=URL('default', '/deployment/%d' % deployment.id)}}">Configure</a></td>
    </tr>
    {{pass}}
</table>
<ul class="pager">
{{if page:}}
    <li><a href="{{=URL(args=[page-1])}}">Previous</a>
{{pass}}

{{if len(deployments) > items_per_page:}}
    <li><a href="{{=URL(args=[page+1])}}">Next</a>
{{pass}}
</ul>
{{else:}}
<div class="alert alert-danger">
    <p>No deployments made yet</p>
</div>
{{pass}}